@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,700;1,400&family=Montserrat:ital,wght@0,700;1,700&display=swap');

body {
  background-color: #454A59;

  display: grid;
  grid-template-columns: 1fr repeat(4, minmax(auto-fit, 2fr));
  grid-template-rows: auto;
}

header {
  color: white;
}


h1 {
  /* font breaks when this display:grid is removed?*/
  /* display: grid;
  grid-template-rows: 1fr; */

  justify-self: self-end;
  margin-top: -2rem;
  /* margin-right: 0; */

  writing-mode:vertical-rl;
  line-height: 2rem;
  transform:rotate(0deg); 

  font-family: 'Montserrat', Verdana, Tahoma, sans-serif;
  font-variant: small-caps;
  font-size: 7rem;
}

nav {
  grid-row-end: span 3;
  grid-column-end: span 6;
  justify-content: center;
}

ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 3rem;
  
}

ul li {
  list-style: none;
}

a {
  font-family: 'Montserrat', Verdana, Tahoma, sans-serif;
  font-variant: small-caps;
  font-style: italic;
  font-weight: 700;
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
}

.grid {
  display: grid;
  grid-template-rows: 1fr repeat(4, 2fr);
}

a:hover {
  color: #BDC9B2;
  font-style: normal;
}

.button {
  border: 1.5px solid #BDC9B2;
  background-color: transparent;
  border-radius: 20%;
  padding: 0.8rem 1.5rem 0.8rem 1.5rem;
}

.button:hover {
  border: 1px solid white;
  color: #BDC9B2;
  font-style: normal;
}

i.fas {
  justify-self: start;
  font-size: 4rem;
}

