@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,700;1,400&family=Montserrat:ital,wght@0,700;1,700&display=swap');

body {
  background-color: #454A59;
}

header {
  display: grid;
  grid-template-columns: 1fr repeat(4, 1fr);

  color: white;
}

h1 {
  display: grid;
  grid-template-rows: 1fr;
  

  justify-self: self-end;
  margin-top: 2rem;
  margin-right: 0;

  writing-mode:vertical-rl; /* vertical text */
  line-height: 2rem;
  transform:rotate(0deg); /* spin to orient as required */

  font-family: 'Montserrat', Verdana, Tahoma, sans-serif;
  font-variant: small-caps;
  font-size: 7rem;
}


nav {
  grid-column: 2 / 6;
}

ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 3rem;
  align-content: end;
}

ul li {
  list-style: none;
}

a {

  font-family: 'Montserrat', Verdana, Tahoma, sans-serif;
  font-variant: small-caps;
  font-style: italic;
  font-weight: 700;
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
}

.button {
  border: 3px solid #BDC9B2;
  border-radius: 20%;
  padding: 1rem;
}
